<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="19a03b06-f897-44d4-95a1-d4306caffddf"
    Publisher="CN=Szymon"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>ChatApp</DisplayName>
    <PublisherDisplayName>Szymon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Koci Kącik Rozmów :3"
        Description="Jest to aplikacja umożliwiająca wysyłanie jak i odbieranie wiadomości prywatnych jak i grupowych na jednym urządzeniu. Koci kącik rozmów to miejsce które stworzyliśmy aby umożliwić wszystkim kociakom rozmowy między sobą. Możesz prowadzić rozmowę tylko z jednym kotkiem, ale możliwe jest także zgromadzenie stada i rozmawiania z wszystkimi jego członkami na raz! Włożyliśmy w tą aplikację mnóstwo serca i kawy, więc mamy nadzieję, że każdy kociak który do nas dołączy będzie się tutaj bawił jeszcze lepiej niż z kłębkiem włóczki :3 Bawcie się dobrze! =^.^="
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
